<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HShop</title>
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script> --}}
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Đơn hàng</span>
            </div>
        </div>
        <div class="content">
            <table id="example">
                <thead>
                    <tr>
                        <th style="width: 5vw;">STT</th>
                        <th style="width: 20vw">Thông tin khách hàng</th>
                        <th style="width: 20vw">Thông tin sản phẩm</th>
                        <th style="width: 10vw">Số tiền thanh toán</th>
                        <th style="width: 10vw">Tình trạng thanh toán</th>
                        <th style="width: 10vw">Tình trạng giao hàng</th>
                        <th style="width: 15vw">Thay đổi</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <th>{{sum @index 1}}</th>
                        <th><img src="" alt="">{{this.user_name}}</th>
                        <th>Mã đơn: {{this._id}}</th>
                        <th>{{this.total_money}}đ</th>
                        {{#if (compareDate this.ship_date)}}
                            <th>Chưa thanh toán</th>
                        {{else}}
                            <th>Thành Công</th>
                        {{/if}}
                        {{#if (compareDate this.ship_date)}}
                            <th>Chưa nhận hàng</th>
                        {{else}}
                            <th>Thành Công</th>
                        {{/if}}
                        <th>
                            <button class="btn btn-delete" order_id="{{this._id}}" onclick="removeOrder(event)">Xóa</button>
                        </th>
                    </tr>
                    {{/each}}
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="ReactModalPortal hide" id="ReactModalPortal">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%);">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8.25C12.4142 8.25 12.75 8.58579 12.75 9V13.5C12.75 13.9142 12.4142 14.25 12 14.25C11.5858 14.25 11.25 13.9142 11.25 13.5V9C11.25 8.58579 11.5858 8.25 12 8.25Z" fill="#FC820A"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0052 4.45201C10.8464 2.83971 13.1536 2.83971 13.9948 4.45201L20.5203 16.9592C21.3019 18.4572 20.2151 20.25 18.5255 20.25H5.47447C3.78487 20.25 2.69811 18.4572 3.47966 16.9592L10.0052 4.45201ZM12.6649 5.14586C12.3845 4.60842 11.6154 4.60842 11.335 5.14586L4.80953 17.6531C4.54902 18.1524 4.91127 18.75 5.47447 18.75H18.5255C19.0887 18.75 19.4509 18.1524 19.1904 17.6531L12.6649 5.14586Z" fill="#FC820A"></path>
                            <path d="M12 17.25C12.6213 17.25 13.125 16.7463 13.125 16.125C13.125 15.5037 12.6213 15 12 15C11.3787 15 10.875 15.5037 10.875 16.125C10.875 16.7463 11.3787 17.25 12 17.25Z" fill="#FC820A"></path>
                        </svg>
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Xoá đơn hàng</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Bạn có muốn xóa đơn hàng đang chọn?</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="confirm" class="dialog-control__button dialog-control__button--secondary" 
                            style="padding: 8px 16px; border-radius: 4px; 
                                    height: 36px; cursor: pointer; box-sizing: border-box; 
                                    border: 1px solid rgb(11, 116, 229); 
                                    color: rgb(11, 116, 229); margin-right: 8px;">Xác Nhận</div>
                        <div id="cancel" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Huỷ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

<script>
    function removeOrder(event) {
        var order_id = event.currentTarget.getAttribute("order_id")
        console.log(order_id)
        var ReactModalPortal = document.getElementById('ReactModalPortal')
        ReactModalPortal.classList.remove('hide');
        var confirm = document.getElementById('confirm')
        var cancel = document.getElementById('cancel')
        cancel.onclick = function(event) {
            ReactModalPortal.classList.add('hide')
        }
        confirm.onclick = function(event) {
            $.ajax({
                url: '/admin/order/' + order_id,
                type: 'DELETE',
                data: {}
            })
            .done(function(data) {
                if(data.message) {
                    window.location.reload();
                }
            })
            .fail(function(err) {
                console.log(err)
            })
        }
    }
</script>
</html>