<!DOCTYPE html>
<html lang="en">

{{> head-admin}}
<body>

    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Sản phẩm</span>
            </div>
            <div class="content-header-right"><a href="/admin/product-add">Thêm sản phẩm</a></div>
        </div>
        <div class="content">
            <table id="example">
                <thead>
                    <tr>
                        <th style="width: 5vw;">STT</th>
                        <th style="width: 20vw">Hình ảnh</th>
                        <th style="width: 20vw">Tên sản phẩm</th>
                        <th style="width: 10vw">Giá (VNĐ)</th>
                        <th style="width: 10vw">Số lượng</th>
                        <th style="width: 10vw">Danh mục</th>
                        <th style="width: 15vw">Thay đổi</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th>{{sum @index 1}}</th>
                        <th><img style="width: 90px;" src="{{this.main_image}}" alt="img"></th>
                        <th>{{this.name}}</th>
                        <th>{{this.price}}</th>
                        <th>
                            <ul>
                                <li>S:{{getValueAtIndex this.remaining_products 0}}</li>
                                <li>M:{{getValueAtIndex this.remaining_products 1}}</li>
                                <li>L:{{getValueAtIndex this.remaining_products 2}}</li>
                                <li>XL:{{getValueAtIndex this.remaining_products 3}}</li>
                                <li>XXL:{{getValueAtIndex this.remaining_products 4}}</li>
                            </ul>
                        </th>
                        <th>{{this.category}}</th>
                        <th>
                            <a href="/admin/product-update/{{this._id}}"><button class="btn btn-edit">Sửa</button></a>
                            <button class="btn btn-delete" onclick="removeItem(event, 'product', 'product_id')" product_id="{{this._id}}">Xóa</button>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal hide" id="confirm-delete">
        <div class="modal-header">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span>Xóa sản phẩm</span>
        </div>
        <div class="modal-body">
            <span>Bạn có chắc chắn muốn xóa sản phẩm này?</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-danger" id="confirm" data-dismiss="modal">Xóa</button>
        </div>
    </div>
    <script src="/js/admin.js"></script>
    
</body>
</html>