<!DOCTYPE html>
<html lang="en">

{{> head-admin}}
<body>
    
    {{> header-admin}}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="content-header-left">
                <i class="fa-solid fa-circle-right"></i><span>Sửa sản phẩm</span>
            </div>
            <div class="content-header-right"><a href="/admin/product">Quay lại</a></div>
        </div>
        <div class="content">
            <form id="update_product_form" action="" method="POST" product_id="{{product._id}}">
                <div class="form-group">
                    <label for="">Tên sản phẩm * </label>
                    <input type="text" id="name" name="name" class="form-control" value="{{product.name}}" rules="required">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">Chi tiết sản phẩm </label>
                    <textarea id="detail" name="detail" class="form-text">{{product.detail}}</textarea>
                </div>
                <div class="form-group">
                    <label for="">Mô tả sản phẩm </label>
                    <textarea id="description" name="description" class="form-text">{{product.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="">Giá hiện tại (VNĐ) *</label>
                    <input type="text" id="price" name="price" class="form-control"  value="{{product.price}}" rules="required">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">Giá cũ (VNĐ)</label>
                    <input type="text" id="old_price" name="old_price" class="form-control"  value="{{product.old_price}}">
                </div>
                <div class="form-group">
                    <label for="">Số lượng *</label>
                </div>
                <div class="form-group">
                    <label for="">S:</label>
                    <input type="text" id="S_quantity" name="S_quantity" class="form-control" value="{{getValueAtIndex product.remaining_products 0}}">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">M:</label>
                    <input type="text" id="M_quantity" name="M_quantity" class="form-control" value="{{getValueAtIndex product.remaining_products 1}}">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">L:</label>
                    <input type="text" id="L_quantity" name="L_quantity" class="form-control"  value="{{getValueAtIndex product.remaining_products 2}}">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">XL:</label>
                    <input type="text" id="XL_quantity" name="XL_quantity" class="form-control"  value="{{getValueAtIndex product.remaining_products 3}}">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">XXL:</label>
                    <input type="text" id="XXL_quantity" name="XXL_quantity" class="form-control"  value="{{getValueAtIndex product.remaining_products 4}}">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">Hình ảnh *(link)</label>
                    <input type="text" id="main_image" name="main_image" class="form-control"  value="{{product.main_image}}" rules="required">
                    <p class="form_mess" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="">Hình ảnh khác</label>
                    <input type="text" id="image_1" name="image_1" class="form-control"  value="{{getValueAtIndex product.image_ 0}}">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" id="image_2" name="image_2" class="form-control"  value="{{getValueAtIndex product.image_ 1}}">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" id="image_3" name="image_3" class="form-control"  value="{{getValueAtIndex product.image_ 2}}">
                </div>
                <div class="form-group">
                    <label for="">Danh mục *</label>
                    <select id="category" name="category" class="form-select" category="{{product.category}}">
                        <option class="category_op" value="Nam">Nam</option>
                        <option class="category_op" value="Nữ">Nữ</option>
                        <option class="category_op" value="Trẻ em">Trẻ em</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Sản phẩm nổi bật *</label>
                    <select id="isOutstanding" name="isOutstanding" class="form-select" isOutstanding="{{product.isOutstanding}}">
                        <option class="outstanding_op" value="true">Có</option>
                        <option class="outstanding_op" value="false">Không</option>
                    </select>
                </div>
                <button class="btn-submit">Hoàn thành</button>
            </form>
        </div>
    </div>
</body>

<script>
    var category_ops = $('.category_op')
    category_ops = Array.from(category_ops)
    category_ops.forEach(category_op => {
        if(category_op.value == $('#category').attr('category')){
            category_op.setAttribute("selected", "selected");
            console.log(category_op.value)
        }
    })

    var outstanding_ops = $('.outstanding_op')
    outstanding_ops = Array.from(outstanding_ops)
    outstanding_ops.forEach(outstanding_op => {
        if(outstanding_op.value == $('#isOutstanding').attr('isOutstanding')){
            outstanding_op.setAttribute("selected", "selected");
            console.log(outstanding_op.value)
        }
    })
    
</script>

<script>
    var updateProduct_form = document.getElementById('update_product_form')
    var product_id = updateProduct_form.getAttribute('product_id')
    console.log(product_id)
    updateProduct_form.onsubmit = function(event) {
        event.preventDefault();
        $.ajax({
            url: '/admin/product-update/' + product_id,
            type: 'POST',
            data: {
                name: $('#name').val(),
                price: $('#price').val(),
                old_price: $('#old_price').val(),
                detail: $('#detail').val(),
                description: $('#description').val(),
                S_quantity: $('#S_quantity').val(),
                M_quantity: $('#M_quantity').val(),
                L_quantity: $('#L_quantity').val(),
                XL_quantity: $('#XL_quantity').val(),
                XXL_quantity: $('#XXL_quantity').val(),
                main_image: $('#main_image').val(),
                image_1: $('#image_1').val(),
                image_2: $('#image_2').val(),
                image_3: $('#image_3').val(),
                category: $('#category').val(),
                isOutstanding:$('#isOutstanding').val()
            }
        })
        .done(data => {
            if(data.message) {
                alert('Cập nhật sản phẩm thành công')
                window.location.href = '/admin/product'
            }else{
                alert("Cập nhật sản phẩm thất bại")
                window.location.reload()
            }
        })
        .fail(err => {
            alert(err)
        })
    }

</script>
</html>