<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothes Shop</title>
    <link rel="stylesheet" href="/css/homeSearch.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{> header}}
    <div class="title">
        <span>Kết quả tìm kiếm theo: {{key_search}} </span>
    </div>
    <div class="content" page="{{page}}" category="{{category_}}">
        {{#if products}}
        {{#each products}}
        <div class="product"
            onmouseover="slideShow({productId : '{{sum @index 1}}', imageClass : 'img{{sum @index 1}}'})"
            id="{{sum @index 1}}">
            <a href="/product/{{this._id}}" style="text-decoration: none;">
                <div class="product__image">
                    <img class="img{{sum @index 1}}" style="display: block;" src="{{this.main_image}}" alt="">
                    <img class="img{{sum @index 1}}" style="display: none;" src="{{getValueAtIndex image_ 0}}" alt="">
                    <img class="img{{sum @index 1}}" style="display: none;" src="{{getValueAtIndex image_ 1}}" alt="">
                    <img class="img{{sum @index 1}}" style="display: none;" src="{{getValueAtIndex image_ 2}}" alt="">
                </div>

                <div class="product__name">{{this.name}}</div>
                <div class="product__price">{{this.price}}<sup>đ</sup>
                    {{#if (isNotNull this.old_price)}}
                    <span>{{this.old_price}}<sup>đ</sup></span>
                    {{/if}}
                </div>
            </a>
        </div>
        {{/each}}
        {{else}}
        <p>Không tìm thấy sản phẩm</p>
        {{/if}}
    </div>

    <div id="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="justify-content: center;">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" id="page-item-previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="" id="page-item-1">1</a></li>
                <li class="page-item"><a class="page-link" href="" id="page-item-2">2</a></li>
                <li class="page-item"><a class="page-link" href="" id="page-item-3">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" id="page-item-next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <form action="/" method="GET" id="get_category">
        <input type="hidden" name="category" id="category_info">
    </form>
    {{>footer}}
</body>
<footer></footer>

<script>

    var page = document.getElementsByClassName('content')[0].getAttribute('page')
    var category_ = document.getElementsByClassName('content')[0].getAttribute('category')
    console.log(category_.length)
    var pagination = document.getElementById('pagination')
    if (page > 1) {
        document.getElementById('page-item-1').innerText = parseInt(page) - 1
        document.getElementById('page-item-2').innerText = page
        document.getElementById('page-item-3').innerText = parseInt(page) + 1

    }
    var page_links = document.getElementsByClassName('page-link')
    page_links = Array.from(page_links)
    if (category_.length === 0) {
        page_links.forEach(page_link => {
            page_link.href = '?page=' + page_link.innerText
            if (page_link.innerText === page) {
                page_link.setAttribute('style', 'background-color: rgba(211, 214, 214, 0.998);')
            }
        })
    } else {
        page_links.forEach(page_link => {
            page_link.href = '?' + category_ + '&page=' + page_link.innerText
            if (page_link.innerText === page) {
                page_link.setAttribute('style', 'background-color: rgba(211, 214, 214, 0.998);')
            }
        })
    }
    var next_page = document.getElementById('page-item-next')
    if (category_.length === 0) {
        next_page.href = '?page=' + (parseInt(page) + 1)
    } else {
        next_page.href = '?' + category_ + '&page=' + (parseInt(page) + 1)
    }
    var previous_page = document.getElementById('page-item-previous')
    if (category_.length === 0) {
        if (page > 1) {
            previous_page.href = '?page=' + (parseInt(page) - 1)
        } else {
            previous_page.href = '?page=1'
        }
    } else {
        if (page > 1) {
            previous_page.href = '?' + category_ + '&page=' + (parseInt(page) - 1)
        } else {
            previous_page.href = '?' + category_ + '&page=1'
        }
    }
</script>
<script>
    function slideShow({
        productId = '',
        imageClass = ''
    }) {
        var isLoop = true;
        const product = document.getElementById(productId);
        product.addEventListener('mouseenter', () => {
            var myIndex = 0;
            function carousel() {
                var i;
                var x = document.getElementsByClassName(imageClass);
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(startSlideShow, 1500);
            }

            function startSlideShow() {
                if (isLoop) {
                    carousel();
                }
            }
            startSlideShow()
        });
        product.addEventListener('mouseleave', () => {
            isLoop = false;
            isMouseStop = false
            isMouseStart = true
            var x = document.getElementsByClassName(imageClass);
            x[0].style.display = "block";
            for (i = 1; i < x.length; i++) {
                x[i].style.display = "none";
            }
        });
    }
</script>

</html>