<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c35f3eeb3.js" crossorigin="anonymous"></script>
    <title>Lịch sử mua hàng</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: #eee;">
    {{> header}}
    <div class="list-bill" id="list_bill">
        {{#if orders}}
        {{#each orders}}
        <div class="bill">
            <div class="bill-content">
                <div style="width: 31vw">Mã hóa đơn: {{this._id}}</div>
                <div style="width: 31vw">Ngày thanh toán: <span class="paymentDate">{{this.ship_date}}</span></div>
                <div >Thành tiền: <span style="color:red;">{{this.total_money}}<sup>đ</sup></span></div>
            </div>
            {{#each product_list}}
            <div class="bill-product">
                <div class="bill-product-detail">
                    <div class="bill-product-detail-img">
                        <img src="{{this.product_main_image}}" alt="">
                    </div>
                    <div class="bill-product-detail-information">
                        <li><a href="/product/{{this.product_id}}" style="text-decoration:none; color:black;">
                                {{this.product_name}}</a></li>
                        <li>Phân loại hàng: {{this.product_size}}</li>
                        <li>x{{this.product_qty}}</li>
                    </div>
                    <div class="bill-product-detail-cost">
                        <li>{{this.product_price}}<sup>đ</sup></li>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="bill-delivery">
                <h3>Địa chỉ nhận hàng:</h3>
                <li style="color: black; font-size: 16px;">{{this.user_name}}</li>
                <li>{{this.phone_number}}</li>
                <li>{{this.address}}</li>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>Bạn chưa đặt đơn hàng nào.</p>
        {{/if}}
    </div>
</body>
<script>

    // ------------------------------ mở chi tiết bill----------------------------------
    const list_bill = document.querySelectorAll(".bill")
    //console.log(list_bill);

    list_bill.forEach(bill => {
        var bill_delivery = bill.querySelector(".bill-delivery")
        bill.addEventListener("click", function () {
            if (bill_delivery.style.display === "none") {
                bill_delivery.style.display = "inline-block";
            } else {
                bill_delivery.style.display = "none";
            }
        })
    })

    //-----------------Định dạng ngày----------------------------
    const paymentDate_list = document.querySelectorAll(".paymentDate");
    console.log(paymentDate_list);
    paymentDate_list.forEach(function(paymentDate) {
        var date = moment(paymentDate.innerHTML).format('HH:mm:ss DD/MM/YYYY');
        console.log(date);
        paymentDate.innerHTML = date;
    })

</script>

</html>