<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c35f3eeb3.js" crossorigin="anonymous"></script>
    <title>Lịch sử mua hàng</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"> --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: #eee;">
    {{> header}}
    <div class="list-bill" id="list_bill">
        {{#if orders}}
        {{#each orders}}
        <div class="bill">
            <div class="bill-content">
                <li>Mã hóa đơn: {{this._id}}</li>
                <li>Ngày đặt hàng: <span class="paymentDate">{{this.order_date}}</span></li>
                <li>Thành tiền: <span class="money" style="color:red;">{{this.total_money}}</span></li>
            </div>
            {{#each product_list}}
            <div class="bill-product">
                <div class="bill-product-detail">
                    <div class="bill-product-detail-img">
                        <img src="{{this.product_main_image}}" alt="">
                    </div>
                    <div class="bill-product-detail-information">
                        <li><a href="/product/{{this.product_id}}" style="text-decoration:none; color:black;">
                                {{this.product_name}}</a></li>
                        <li>Phân loại hàng: {{this.product_size}}</li>
                        <li>x{{this.product_qty}}</li>
                    </div>
                    <div class="bill-product-detail-cost">
                        <li class="money">{{this.product_price}}</li>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="bill-detail">
                <div class="bill-delivery">
                    <h3>Địa chỉ nhận hàng:</h3>
                    <li style="color: black; font-size: 18px;">{{this.user_name}}</li>
                    <li>(+84) {{this.phone_number}}</li>
                    <li>{{this.address}}</li>
                </div>
                <table class="bill-cost">
                    <tr>
                        <td class="col-1">Tổng tiền hàng</td>
                        <td class="col-2 money">{{this.total_amount}}</td>
                    </tr>
                    <tr>
                        <td class="col-1">Phí vận chuyển</td>
                        <td class="col-2 money">{{this.shipping_cost}}</td>
                    </tr>
                    <tr>
                        <td class="col-1">Thành tiền</td>
                        <td class="col-2 money subtotal">{{this.total_money}}</td>
                    </tr>
                    <tr>
                        <td class="col-1">Phương thức thanh toán</td>
                        <td class="col-2">{{this.payment_method}}</td>
                    </tr>
                </table>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p>Bạn chưa đặt đơn hàng nào.</p>
        {{/if}}
    </div>
    <div class="footer" style="background-color: white;">{{>footer}}</div>
</body>
<script>

    // ------------------------------ mở chi tiết bill----------------------------------
    const list_bill = document.querySelectorAll(".bill")
    //console.log(list_bill);

    list_bill.forEach(bill => {
        var bill_detail = bill.querySelector(".bill-detail")
        bill.addEventListener("click", function () {
            if (bill_detail.style.display === "none") {
                bill_detail.style.display = "flex";
            } else {
                bill_detail.style.display = "none";
            }
        })
    })

    //-----------------Định dạng ngày----------------------------
    const paymentDate_list = document.querySelectorAll(".paymentDate");
    //console.log(paymentDate_list);
    paymentDate_list.forEach(function (paymentDate) {
        var date = moment(paymentDate.innerHTML).format('HH:mm DD/MM/YYYY');
        // console.log(date);
        paymentDate.innerHTML = date;
    })

    //-----------------Định dạng giá----------------------------
    const money_list = document.querySelectorAll(".money")
    console.log(money_list);
    money_list.forEach(function (money) {
        const value = parseFloat(money.innerHTML.replace(/\./g, "").replace(",", ".")); // chuyển đổi giá trị thành số, xóa dấu phân cách thập phân cũng như dấu nghìn trong chuỗi
        if (isNaN(value)) return; // bỏ qua nếu giá trị không phải là số
        const formatted_money = "&nbsp;₫" + value.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
            .replace('₫', '');// định dạng lại giá
        money.innerHTML = formatted_money; // cập nhật giá trị trong DOM
        console.log(money.innerHTML)
    })

</script>

</html>