<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="id_Product" _id = '{{product._id}}'>
        <img style="width: 450px;" src="{{product.main_image}}" alt="">
        <p>{{product.name}}</p>
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <p>{{product._id}}</p>
        {{!-- <a href=""> --}}
            <button onclick="addToCart()">Them vao gio hang</button>
        {{!-- </a> --}}
        {{!-- <img src="{{product.main_image2}}" alt=""> --}}
        
    </div>
</body>

<script>
    function addToCart() {
        console.log('onclick')
            $.ajax({
                url: '/product/addtocart',
                timeout: 10000,
                type: 'POST',
                data: {
                    _id: $('#id_Product').attr('_id'), 
                    size: 'L'
                }
            })
            .done(function(data) {
                alert(data.message)
            })
            .fail(function(err) {
                console.log(err)
            }) 
            .always(function(data) {
            })
        }
</script>
</html>