<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img style="width: 450px;" src="{{product.main_image}}" alt="">
        <p>{{product.name}}</p>
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <button>Them vao gio hang</button>
        <img src="{{product.main_image2}}" alt="">
        
    </div>
</body>
</html>